body{
    background-color:rgb(78, 105, 146);
    display: flex;
    justify-content: center;
}



#calculator {
    background-color: rgb(155, 155, 163);
    border: 10px solid rgb(42, 9, 58);
    height: 300px;
    width: 240px;
}

#input {
    width: 220px;
}
#inputCont{
    width: 250px;

}
#buttonsCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    
    
    
}
#opCont{
    display: flex;
    justify-content:center ;
    align-items: center;
}
.operators{
    margin: 3px;
}